.containerCalculus {


    display: flex;
    justify-content: center;
    position: relative;
    height: 87.7vh;
    justify-items: center;
background: url('/assets/img/background/reservoir.png');
background-size: 530% !important; 
    overflow: hidden !important;
}

.navStyle { 

    border-bottom: 2px solid black !important;
    background-color: #c88ac5;
    width: 100%;
}

.logoStyle {

    border-radius: 90px;
    width: 45px;


}

.buttonText {

    font-weight: 900;
    color: rgb(255, 89, 189);
    text-shadow: 2px 2px 2px black;
    border: 2px solid transparent !important;
    outline: 2px solid transparent;
 visibility: hidden;
 opacity: 0;
 position: absolute;
    top: 55%;
    left: 68%;
    z-index: 65;
        rotate: -186deg !important;
    font-size: 60px;
}

.buttonStyle {

    position: absolute;
   bottom: 16%; 
   left: 19.5em;  
    width: 40px !important;
    z-index: 60;
    box-shadow: 2px 2px 2px 2px  rgb(233, 180, 221);
    background-color: black;
    outline: 1px solid rgb(255, 174, 236);
    transition: 3s;
    opacity: 0;
    visibility: visible;
}




@media only screen and (max-width: 554px) {
     
     .buttonStyle {

   
        left: 19.3em;  
        bottom: 26.7%; 
   
    } 



    .containerCalculus {

        overflow: hidden !important;
        height: 84.3vh;
    }

    .buttonText {

      top: 49%;
 
    }

      }



      @media only screen and (max-width: 400px) {
     
         .buttonStyle {


            left: 19em;  
            bottom: 20%; 
       
        } 

        .containerCalculus {

            overflow: hidden !important;

        }

        .buttonText {

            top: 56.5%;
         
          }
    
          }


      



.containerItem1 {

    position: absolute;
    justify-items: center;
bottom: 0;

    width: 100%;
 


}

.containerItem2 {

    position: absolute;
    justify-items: center;
bottom: 0;
    visibility: hidden;
    width: 30%;
}

.containerItem3 {

    position: absolute;
    justify-items: center;
bottom: 0;
    visibility: hidden;
    width: 100%;
}


.inputStyle {

    border-top: 1px solid black;
    background-color: white;
    border-radius: 20px;
    color:  black;
    font-weight: 900;
    color: #e6a0ba
}

.inputStyle2 {

    border-top: 1px solid black;
    background-color: white;
    border-radius: 20px;
    color:  black;
    font-weight: 900;
    color: #e6a0ba
}

.inputStyle3 {

    border-top: 1px solid black;
    background-color: white;
    border-radius: 20px;
    color:  black;
    font-weight: 900;
    color: #e6a0ba
}


label {

    color: #e6a0ba;

}

.stylingBorder {

    border: 2px solid rgb(198, 44, 198);
    box-shadow: 2px 2px 2px 2px black;

}

p {

    color: rgb(198, 44, 198);
    text-shadow: 1px 1px 1px black;
    font-weight: 900;
    font-size: 13px;
}

.androidName {

    color: rgb(198, 44, 198);
    font-weight: 900 !important;
    text-shadow: 2px 2px 2px black;
  

}

.timeStyle {

    color: rgb(184, 124, 184);
    font-weight: 900;

}

.deliver {

    color: green;
    font-weight: 900;
}

.chatBotContainerAll {

    position: relative;
    width: 100%;
    opacity: 0;
    width: 100%;

}

.chatBotContainer {

    position: absolute;
    width: 100%;
    bottom: 0em;

}


/* NO */

.chatBotContainerAllNo {

    position: relative;
    width: 100%;
    opacity: 0;
    width: 100%;
    visibility: hidden;
  
}

.chatBotContainerNo {

    position: absolute;
    width: 100%;
    bottom: 0;
    visibility: hidden;

}


/* NO2 */



.chatBotContainerNo2 {

    position: absolute;
    width: 100%;
    bottom: 0;
    visibility: hidden;

}




/* YES */

.chatBotContainerAllYes {

    position: relative;
    width: 100%;
    opacity: 0;
    width: 100%;
    visibility: hidden;
  
}

.chatBotContainerYes {

    position: absolute;
    width: 100%;
    bottom: 0;
    visibility: hidden;

}






/* FAILED */

.chatBotContainerAllYesNoFailed {

    position: relative;
    width: 100%;
    opacity: 0;
    width: 100%;
    visibility: hidden;
  
}

.chatBotContainerYesNoFailed {

    position: absolute;
    width: 100%;
    bottom: 0;
    visibility: hidden;

}

/* hope it works */


 .inputNew1 {

    position: absolute;
    top: 88%;
    right: 60%;
    width: 30%;
    border-radius: 40px;
    border: 2px solid white;
    z-index: 60;
    visibility: hidden;
    opacity: 0;
    font-size: 25px;
    background-color: transparent;
    box-shadow: 2px 2px 2px 2px purple;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
 }

 .inputNew2 {

    position: absolute;
    top: 88%;
    right: 10%;
    width: 30%;
    border-radius: 40px;
    border: 2px solid white;
    z-index: 60;
    visibility: hidden;
    opacity: 0;
    font-size: 25px;
    background-color: transparent;
    box-shadow: 2px 2px 2px 2px purple;
    text-shadow: 2px 2px 2px black;
    color: white;
   text-align: center;
 }

 .inputNew1:active, .inputNew1:focus {

    border: 2px solid transparent;
    outline: 2px solid transparent;


 }

 .inputNew2:active, .inputNew2:focus {

    border: 2px solid transparent;
    outline: 2px solid transparent;


 }



 @media only screen and (max-width: 554px) {
     
    .inputNew1 {

        top: 85%;

    }

    .chatBotContainerNo {

        left: 0%;

    }


    .inputNew2 {

        top: 85%;

    }

    .containerCalculus {

        height: 89.7vh;
  
    }

      }

      @media only screen and (max-width: 425px) {

        .containerCalculus {

            height: 89.7vh;
      
        }
     
        .inputNew1 {
    
            top: 87%;
    
        }

        .chatBotContainerNo {

            left: 0%;
    
        }

        

        .inputNew2 {

            top: 87%;
    
        }

          }


 ::placeholder {
    text-shadow: 2px 2px 2px black;
    color: white;
    font-weight: 900;


 }