.containerCalculus {


    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    justify-items: center;
    background: linear-gradient(purple, pink);
    overflow: hidden;
}

.containerItem1 {

    position: absolute;
    justify-items: center;
bottom: 0;

    width: 100%;


}

.containerItem2 {

    position: absolute;
    justify-items: center;
bottom: 0;
    visibility: hidden;
    width: 100%;
}


.inputStyle {

    border-top: 1px solid black;
    background-color: white;
    border-radius: 20px;
    color:  black;
    font-weight: 900;
    color: #e6a0ba
}

.inputStyle2 {

    border-top: 1px solid black;
    background-color: white;
    border-radius: 20px;
    color:  black;
    font-weight: 900;
    color: #e6a0ba
}

label {

    color: #e6a0ba;

}

.stylingBorder {

    border: 2px solid rgb(198, 44, 198);
    box-shadow: 2px 2px 2px 2px black;

}

p {

    color: rgb(198, 44, 198);
    text-shadow: 1px 1px 1px black;
    font-weight: 900;
    font-size: 13px;
}

.androidName {

    color: rgb(198, 44, 198);
    font-weight: 900 !important;
    text-shadow: 2px 2px 2px black;
  

}

.timeStyle {

    color: rgb(184, 124, 184);
    font-weight: 900;

}

.deliver {

    color: green;
    font-weight: 900;
}

.chatBotContainerAll {

    position: relative;
    width: 100%;
    opacity: 0;
    width: 100%;

}

.chatBotContainer {

    position: absolute;
    width: 100%;
    bottom: 0em;

}


/* NO */

.chatBotContainerAllNo {

    position: relative;
    width: 100%;
    opacity: 0;
    width: 100%;
    visibility: hidden;
  
}

.chatBotContainerNo {

    position: absolute;
    width: 100%;
    bottom: 0;
    visibility: hidden;

}



/* YES */

.chatBotContainerAllYes {

    position: relative;
    width: 100%;
    opacity: 0;
    width: 100%;
    visibility: hidden;
  
}

.chatBotContainerYes {

    position: absolute;
    width: 100%;
    bottom: 0;
    visibility: hidden;

}






/* FAILED */

.chatBotContainerAllYesNoFailed {

    position: relative;
    width: 100%;
    opacity: 0;
    width: 100%;
    visibility: hidden;
  
}

.chatBotContainerYesNoFailed {

    position: absolute;
    width: 100%;
    bottom: 0;
    visibility: hidden;

}