

    





<section class="containerCalculus">



    <div id="chatBotContainerAll" class="chatBotContainerAll">


<div id="chatBotContainer" class="chatBotContainer flex items-start gap-2.5">
   <img class="w-8 h-8 rounded-full" src="/assets/img/icons/android.png" alt="Jese image">
   <div class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
      <div class="flex items-center space-x-2 rtl:space-x-reverse">
         <span class="text-sm font-semibold text-gray-900 dark:text-white">Android zZz</span>
         <span id="timeValue" class="text-sm font-normal text-gray-500 dark:text-gray-400"></span>
      </div>
      <p id="chatBotValue" class="text-sm font-normal py-2.5 text-gray-900 dark:text-white"></p>
      <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Delivered</span>
   </div>
  
</div>


        
  



            <!-- ANSWER NO-->




                <div id="chatBotContainerNo" class="chatBotContainerNo flex items-start gap-2.5">
   <img class="w-8 h-8 rounded-full" src="/assets/img/icons/android.png" alt="Jese image">
   <div class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
      <div class="flex items-center space-x-2 rtl:space-x-reverse">
         <span class="text-sm font-semibold text-gray-900 dark:text-white">Android zZz</span>
         <span id="timeValueNo" class="text-sm font-normal text-gray-500 dark:text-gray-400"></span>
      </div>
      <p id="chatBotValueNo" class="text-sm font-normal py-2.5 text-gray-900 dark:text-white"></p>
      <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Delivered</span>
   </div>
  
</div>







      <!-- ANSWER YES-->




                <div id="chatBotContainerYes" class="chatBotContainerYes flex items-start gap-2.5">
   <img class="w-8 h-8 rounded-full" src="/assets/img/icons/android.png" alt="Jese image">
   <div class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
      <div class="flex items-center space-x-2 rtl:space-x-reverse">
         <span class="text-sm font-semibold text-gray-900 dark:text-white">Android zZz</span>
         <span id="timeValueYes" class="text-sm font-normal text-gray-500 dark:text-gray-400"></span>
      </div>
      <p id="chatBotValueYes" class="text-sm font-normal py-2.5 text-gray-900 dark:text-white"></p>
      <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Delivered</span>
   </div>
  

</div>




      <!-- ANSWER FAILED-->




                <div id="chatBotContainerYesNoFailed " class="chatBotContainerYesNoFailed  flex items-start gap-2.5">
   <img class="w-8 h-8 rounded-full" src="/assets/img/icons/android.png" alt="Jese image">
   <div class="flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
      <div class="flex items-center space-x-2 rtl:space-x-reverse">
         <span class="text-sm font-semibold text-gray-900 dark:text-white">Android zZz</span>
         <span id="timeValueYesNoFailed" class="text-sm font-normal text-gray-500 dark:text-gray-400"></span>
      </div>
      <p id="chatBotValueYesNoFailed" class="text-sm font-normal py-2.5 text-gray-900 dark:text-white"></p>
      <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Delivered</span>
   </div>
  

</div>





        
    

</div>



    




            <div class="inputStyle containerItem1">
              <!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com --> 
<div class="relative mb-3" data-te-input-wrapper-init>
  <input
    type="text"
    class="inputStyle peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
    id="inputValue"
    placeholder="Example label" />
  <label
    for="inputValue"
    class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
    >Digite aqui
  </label>
</div>
            </div>
    

</section>


    <app-header><app-header/>
