

    
<section style="position: relative; z-index: 60;">
  <nav class="navStyle flex-no-wrap relative flex w-full items-center justify-between bg-[#FBFBFB] py-2 shadow-md shadow-black/5 dark:bg-neutral-600 dark:shadow-black/10 lg:flex-wrap lg:justify-start lg:py-4">
  <div class=" flex w-full flex-wrap items-center justify-between px-3">
    <!-- Hamburger button for mobile view -->
   <img class="logoStyle" src="/assets/img/logo/logoProject.png" alt="">
   
    
      </div>
  
</nav>
</section>




<section class="containerCalculus">

    <div style="position: relative">
        
    
<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com --> 
<button
id="button"
    (click)="buttonEvent()"
  type="button"

  class="buttonStyle rounded-full bg-primary p-2 uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
  <img id="icon" class="iconStyle" src="/assets/img/icons/start.png" alt="">
    
</button>
</div>
<h1 id="buttonText" class="buttonText">GO</h1>

    <input placeholder="anterior" id="getMonth1" class="inputNew1" type="number" />

      <input placeholder="atual" id="getMonth2" class="inputNew2" type="number" />

    <div id="chatBotContainerAll" class="chatBotContainerAll">


<div id="chatBotContainer" class="chatBotContainer flex items-start gap-2.5">
   <img class="w-8 h-8 rounded-full" src="/assets/img/icons/android.png" alt="Jese image">
   <div class="stylingBorder flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
      <div class="flex items-center space-x-2 rtl:space-x-reverse">
         <span class="androidName text-sm font-semibold text-gray-900 dark:text-white">Android zZz</span>
         <span id="timeValue" class="timeStyle text-sm font-normal text-gray-500 dark:text-gray-400"></span>
      </div>
      <p id="chatBotValue" class="text-sm font-normal py-2.5 text-gray-900 dark:text-white"></p>
      <span class="deliver text-sm font-normal text-gray-500 dark:text-gray-400">Delivered</span>
   </div>
  
</div>


        
  



            <!-- ANSWER NO-->



             
                    
               
                <div id="chatBotContainerNo" class="chatBotContainerNo flex items-start gap-2.5">
   <img class="w-8 h-8 rounded-full" src="/assets/img/icons/android.png" alt="Jese image">
   <div class="stylingBorder flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
      <div class="flex items-center space-x-2 rtl:space-x-reverse">
         <span class="androidName text-sm font-semibold text-gray-900 dark:text-white">Android zZz</span>
         <span id="timeValueNo" class="timeStyle text-sm font-normal text-gray-500 dark:text-gray-400"></span>
      </div>
      <p id="chatBotValueNo" class="text-sm font-normal py-2.5 text-gray-900 dark:text-white"></p>
      <span class="deliver text-sm font-normal text-gray-500 dark:text-gray-400">Delivered</span>
      

        




 </div>




      <!-- ANSWER YES-->




                <div id="chatBotContainerYes" class="chatBotContainerYes flex items-start gap-2.5">
   <img class="w-8 h-8 rounded-full" src="/assets/img/icons/android.png" alt="Jese image">
   <div class="stylingBorder flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
      <div class="flex items-center space-x-2 rtl:space-x-reverse">
         <span class="androidName text-sm font-semibold text-gray-900 dark:text-white">Android zZz</span>
         <span id="timeValueYes" class="timeStyle text-sm font-normal text-gray-500 dark:text-gray-400"></span>
      </div>
      <p id="chatBotValueYes" class="text-sm font-normal py-2.5 text-gray-900 dark:text-white"></p>
      <span class="deliver text-sm font-normal text-gray-500 dark:text-gray-400">Delivered</span>
   </div>
  

</div>




      <!-- ANSWER FAILED-->




                <div id="chatBotContainerYesNoFailed " class="chatBotContainerYesNoFailed  flex items-start gap-2.5">
   <img class="w-8 h-8 rounded-full" src="/assets/img/icons/android.png" alt="Jese image">
   <div class="stylingBorder flex flex-col w-full max-w-[320px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
      <div class="flex items-center space-x-2 rtl:space-x-reverse">
         <span class="androidName text-sm font-semibold text-gray-900 dark:text-white">Android zZz</span>
         <span id="timeValueYesNoFailed" class="timeStyle text-sm font-normal text-gray-500 dark:text-gray-400"></span>
      </div>
      <p id="chatBotValueYesNoFailed" class="text-sm font-normal py-2.5 text-gray-900 dark:text-white"></p>
      <span class="deliver text-sm font-normal text-gray-500 dark:text-gray-400">Delivered</span>
   </div>
  

</div>





        
    

</div>



    




            <div id="containerItem1" class="inputStyle containerItem1">
              <!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com --> 
<div class="relative mb-3" data-te-input-wrapper-init>
  <input
    type="text"
    class="inputStyle peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
    id="inputValue"
    placeholder="Example label" />
  <label
    for="inputValue"
    class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
    >Digite aqui
  </label>

   
</div>
            </div>

    

            <div id="containerItem2" class="inputStyle2 containerItem2">
              <!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com --> 
<div class="relative mb-3" data-te-input-wrapper-init>
  <input
  value = "0"
    type="number"
    class="inputStyle peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
    id="inputValue2"
    placeholder="Example label" />
  <label
    for="inputValue2"
    class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
    >Digite o valor de sua conta
  </label>
</div>


            </div>


                    </div>
   

</section>



