


.containerAll {

    background: url('/assets/img/background/reservoir.png');

    background-repeat: no-repeat;
    background-size: 250%;
    background-position-x: 43%;
    background-position-y: 53%;
    height: 100vh;
    width: 100%;
z-index: 600;
}

.containerLanding2 {


    display: flex;
    justify-content: center;

}


.containerText{

    justify-items: center;
    align-items: center;
   position: absolute;
   top: 10em;

}


.pStyle {

    text-align: center;
    text-shadow: 2px 2px 2px white;
    color: purple;
    font-style: italic;

}

.titleStyle{

    text-align: center;
    color: purple;
    text-shadow: 2px 2px 2px black;    
    font-size: 25px;
    font-weight: 900;
}


.buttonStyle {
    font-size: 45px !important;
    width: 50px;
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: 1px  solid transparent;
    box-shadow: 2px 2px 1px 2px black;
    z-index: 600;

}

.buttonStyle:hover {

    outline:  none;
    box-shadow: 2px 2px 1px 2px rgb(239, 12, 239);
}

.iconStyle {

    width: 45px !important;
    margin-left: 3px;
        z-index: 60;
}


.buttonText {

    margin-top: 11px;
    font-weight: 900;
    color: rgb(239, 12, 239);
    text-shadow: 2px 2px 2px white;
 visibility: hidden;
 position: absolute;
    opacity: 0;
    left: 50%;
    border: 2px solid transparent !important;
    outline: 2px solid transparent;
    z-index: 60;
    cursor: pointer;
}




@media only screen and (max-width: 554px) {
     
    .titleStyle{


        font-size: 23px;
        font-weight: 900;
    }

    .containerText{

        justify-items: center;
        align-items: center;
       position: absolute;
       top: 8em;
    
    }

    .containerLanding{



        background: url('/assets/img/background/reservoir.png');
        background-size: 250%;
        background-repeat: repeat !important;
        width: 250% !important;
        height: 135vh !important;
        z-index: 600;
        overflow: hidden;
        background-position-x: 40%;
        background-position-y: 60%;
    }


    
      }


      @media only screen and (max-width: 400px) {
     
        .containerText{

            justify-items: center;
            align-items: center;
           position: absolute;
           top: 13em;
        
        }
        .containerLanding{



            background: url('/assets/img/background/reservoir.png');
            background-size: 250%;
            background-repeat: repeat !important;
            width: 250% !important;
            height: 136vh !important;
            overflow-y: hidden !important;
            z-index: 600;
            background-position-x: 40%;
            background-position-y: 60%;
        }
   
     
        .titleStyle{


            font-size: 23px;
            font-weight: 900;
        }
             
 
    
    
        
          }