

<section class="containerLanding max-w-md mx-auto">

        <div class="containerText">


                  <h1 class="titleStyle">Ghostie Applications - FULLSTACK</h1>
                  <p class="pStyle">Deseja realizar o cálculo do seu hidrometro?</p>


    <div  style="display:flex; justify-content: center; margin-top: 1em; position: relative">
        

<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com --> 
<button
id="button"
    (click) = "buttonRedirect()"
(mouseover)="buttonTextEvent()"
(mouseout)="buttonTextEventOut()"
  type="button"
  data-te-ripple-init
  data-te-ripple-color="light"
  class="buttonStyle rounded-full bg-primary p-2 uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
  <img id="icon" class="iconStyle" src="/assets/img/icons/start.png" alt="">
    
</button>
<h1 id="buttonText" class="buttonText">START</h1>
    </div>
        </div>
  

</section>