/* You can add global styles to this file, and also import other style files */


    body {


        background: url('/assets/img/background/reservoir2.png');

        background-size: 230%;
        background-position-y:30%;
        background-position-x: 50%;

    }


    @media only screen and (max-width: 400px) {
     
    body {


        background: url('/assets/img/background/reservoir2.png');

        background-size: 250%;
        background-position-x: 48%;
    

    }
      }


    