.containerAll {

    background: url('/assets/img/background/reservoir.png');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 530% !important;
    background-position-x: 0%;
    height: 87.6vh;
    width: 100%;
    z-index: 600;
    display: flex;
    justify-content: center;
}

.containerPanel {


    

    z-index: 60;


}

.containerPanel2 {
    overflow: hidden;
    margin-top: 20vh;
   display: flex;
    width: auto;

    border: 2px solid white;
    padding: 15px;
    border-radius: 40px;
    background-color: purple;
    box-shadow: 2px 2px 4px 4px black;
}

.containerTitle{

    border-bottom: 2px solid white;
    margin-bottom: 2em;
    
}


.inputStyle {

    border: 2px solid purple;
    background-color: white;
    border-radius: 20px;
    color:  black;
    font-weight: 900;
    color: #e6a0ba;
    width: 225px;
    box-shadow: 1px 1px 1px 1px black;


} 

.inputStyle2 {

    border: 2px solid purple;
    background-color: white;
    border-radius: 20px;
    color:  black;
    font-weight: 900;
    color: #e6a0ba;
    width: 225px;
    box-shadow: 1px 1px 1px 1px black;


} 

.containerCondition{



    display: flex !important;
    justify-content: center;
    z-index: 600;
    width: 100%;
    overflow: hidden !important;
}
.containerCondition2{
    overflow: hidden !important;
    top: 30%;
    position: fixed;
    z-index: 600;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 1px 1px black;
    opacity: 0;
    margin-left: -25em;
    visibility: hidden;
}


.titleConditionStyle {

    text-align: center;
    color: #e6a0ba;
background-color: black;

    font-weight: 900;
    border-bottom: 2px solid #e6a0ba;

}


.inputConditionStyle {

margin-top: 5em;
width: 100%;

border-top: 2px solid #e6a0ba;
border-radius: 3px;
    color: #e6a0ba;
    font-weight: 900;
    text-shadow: 2px 2px 2px black !important;
    background-color: transparent;
}
.iconSendStyle {
    position: absolute;
    bottom: 0.03em;
    cursor: pointer;
    width: 30px;
    left: 86%;
    z-index: 600 !important;
    border: 2px solid #e6a0ba;
    border-radius: 40px;
    background-color:black;
    padding: 3px;
    transition: 0.3s;

}

.iconSendStyle:hover {

    width: 35px;
    background-color: white;
    border: 2px solid transparent;
    box-shadow: 1px 1px 2px 2px black;
}

::placeholder {

    color: #e6a0ba;
    font-weight: 900;
    text-shadow: 2px 2px 2px black;

}

.labelCondition {
    color: #f8bbd1;
    font-weight: 900;
  

}




.inputStyle3 {
    width: 225px;
    border: 2px solid purple;
    background-color: white;
    border-radius: 20px;
    color:  black;
    font-weight: 900;
    color: #e6a0ba;
    box-shadow: 1px 1px 1px 1px black;

} 


    /* HEADER */

.label1 {

    color: #e6a0ba;
    font-weight: 900;
  margin-left: 2em;
}

.label2 {

    color: #e6a0ba;
    font-weight: 900;
  margin-left: 2em;
}

.labelAliquota {

    color: #e6a0ba;
    font-weight: 900;

}

.textTitle {
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: 900;
    

}

.textStyle {
    font-size: 13px;
    color: #e6a0ba;
    font-weight: 900;
    text-shadow: 2px 2px 2px black;


}

.textStyle2 {
    font-size: 13px;
    color: #e6a0ba;
    font-weight: 900;
    text-shadow: 2px 2px 2px black;
    margin-top: 1em;

}


.logoStyle {

    border-radius: 90px;
    width: 45px;


}

.navStyle { 

    border-bottom: 2px solid black !important;
    background-color: #c88ac5 !important;
    width: 100%;
}

.butonStyle {
    width: 90%;
    margin-left: 1.6em;
    border: 1px solid white;
    justify-content: center;
background-color: black;
    border-radius: 40px;
    transition: 0.3s !important;
    margin-top: 1em;

}



.butonStyle:hover {
    transition: 0.3s !important;
    background-color: transparent;
    box-shadow: 2px 2px 4px 4px black;
    font-weight: 900;

}

@media only screen and (max-width: 400px) {
     
    .containerPanel2  {
  
        margin-left: 0.1em;

    }

    .containerAll {

        width: 130%;
        height: 90vh;
  
    }

    .navStyle { 
        width: 100% !important;
        border-bottom: 2px solid black !important;
        background-color: transparent;
    
    }

}

@media only screen and (max-width: 554px) {
     
    .containerPanel2  {
  
  

    }

    .containerAll {

        width: 130%;
        height: 119vh;
    }

    .navStyle { 
        width: 130% !important;
        border-bottom: 2px solid black !important;
        background-color: transparent;
    
    }

}



/* @media only screen and (max-width: 554px) {
     
    .navStyle {
        
        bottom: 86vh !important;
    }

    .logoStyle {

   
        top: 0px;
    }

      }

       @media only screen and (max-width: 400px) {
     
        .navStyle {
      
      
            bottom: 90vh !important
        }

        .logoStyle {

   
            top: 0px;
        }

          }  */

